.header__navigation_logged-in {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    min-width: 59.3%;
    z-index: 3;
}

.header__navigation-menu {
    min-width: 212px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu-button {
    display: none;
}

.header__nav-link {
    color: #000;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.38;
}

.header__nav-link:hover {
    opacity: .7;
}

/* Не нашла способа лучше добавить класс active в зависимости от текущей страницы */

.header__nav-link_active {
    color: #000;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.38;
}

.header__nav-link_active:hover {
    opacity: .7;
}

/* Max-width 768px */

@media screen and (max-width: 768px) {
    .header__menu-button {
        display: block;
        background-image: url('../../images/header__icon-menu.svg');
        width: 44px;
        height: 44px;
        border: none;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-color: #fff;
    }

    .header__navigation_logged-in {
        display: none;
    }
}