.profile {
    padding-bottom: 70px;
    height: 100vh;
}

.profile__content {
    max-width: 410px;
    margin: 73px auto 0;
}

.profile__greeting {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}

.profile__form {
    position: relative;
    width: 100%;
    margin: 107px 0 16px;
    display: flex;
    flex-direction: column;
}

.profile__label {
    padding: 17px 0 0;
    margin: 0;
    font-size: 11px;
    font-weight: 500;
    line-height: 1.18;
    display: flex;
    justify-content: space-between;
}

.profile__label:first-of-type {
    border-bottom: 1px solid #E8E8E8;
}

.profile__input {
    margin: 0;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.18;
    outline: none;
    border: none;
    width: 70%;
    text-align: end;
}

.profile__container-error {
    display: block;
    height: 17px;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    color: #fff;
}

.profile__container-success {
    position: absolute;
    top: 130px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
    margin: 0;
    transition: color 0.2s;
}

.profile__container-success_active {
    color: darkgreen;
}

.profile__container-error_active {
    color: #FF4062;
}

.profile__button {
    margin: 201px 0 0;
    border: none;
    background-color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.23;
    cursor: pointer;
}

.profile__button_inactive {
    cursor: auto;
    opacity: .7;
}

.profile__button-sign-out {
    display: block;
    margin: 0 auto;
    color: #FF4062;
    border: none;
    background-color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.23;
    cursor: pointer;
}

.profile__button:hover {
    opacity: .7;
    transition: opacity .2s;
}

.profile__button-sign-out:hover {
    opacity: .7;
    transition: opacity .2s;
}

@media screen and (max-width: 768px) {
    .profile__content {
        margin: 236px auto 0;
    }

    .profile__form {
        margin-top: 80px;
    }

    .profile__button {
        margin: 190px 0 0;
    }
}

@media screen and (max-width: 400px) {
    .profile__content {
        margin: 69px auto 0;
    }

    .profile__form {
        margin: 64px 30px 13px;
        width: calc(100% - 2*30px);
    }

    .profile__button {
        margin: 360px 0 0;
    }

    .profile {
        padding-bottom: 0;
    }
}