.portfolio {
    max-width: 1140px;
    margin: 100px auto 125px;
}

.portfolio__title {
    margin: 0;
    color: #A0A0A0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
}

.portfolio__list {
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
}

.portfolio__list-item {
    padding: 20px 0 19px;
    border-top: 1px solid #E8E8E8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio__list-item:first-of-type {
    border-top: none;
    padding: 0 0 19px;
}

.portfolio__list-item:last-of-type {
    padding: 20px 0 0;
}

.portfolio__item-title {
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: -1.1px;
}

.portfolio__button {
    cursor: pointer;
    background-image: url('../../images/arrow-link.svg');
    border: none;
    width: 18px;
    height: 17px;
    margin: 9px 9px 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #fff;
}

.portfolio__button:hover {
    opacity: .7;
}

/* Max-width 1200px */

@media screen and (max-width: 1200px) {
    .portfolio {
        margin: 91px 50px 90px;
    }

    .portfolio__item-title {
        font-size: 28px;
        line-height: 1.78;
    }

    .portfolio__button {
        margin: 6px 6px 0 0;
    }
}

/* Max-width: 580px */

@media screen and (max-width: 580px) {
    .portfolio {
        margin: 70px 14px;
    }

    .portfolio__title {
        color: #A0A0A0;
        font-size: 14px;
        line-height: 1.42;
    }

    .portfolio__list {
        margin-top: 40px;
    }

    .portfolio__item-title {
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: -.8px;
    }

    .portfolio__button {
        width: 12px;
        padding: 0;
    }
}

