.promo {
    background-color: #F3C1F8;
    width: 100%;
    padding-top: 80px;
}

.promo__wrapper {
    max-width: 1140px;
    margin: 0 auto;
    height: fit-content;
    position: relative;
}

.promo__title {
    margin: 0;
    font-size: 50px;
    font-weight: 400;
    line-height: 1.16;
    max-width: 640px;
}

.promo__subtitle {
    margin: 36px 0 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.23;
    opacity: .5;
    max-width: 310px;
}

.promo__button {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    border: 1px solid rgba(0,0,0,0.6);;
    border-radius: 3px;
    padding: 10px 20px;
    margin: 146px 0 75px;
}

.promo__button:hover {
    opacity: .8;
}

.promo__image {
    width: 304px;
    height: 310px;
    position: absolute;
    bottom: 195px;
    right: 0;
}

/* Max-width 1200px */

@media screen and (max-width: 1200px) {
    .promo__wrapper {
        margin: 0 30px;
    }
}

/* Max-width 1024px */

@media screen and (max-width: 1024px) {
    .promo {
        padding-top: 144px;
    }

    .promo__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .promo__image {
        position: static;
    }

    .promo__title {
        margin-top: 45px;
        max-width: 680px;
        font-size: 40px;
        line-height: 1.25;
        text-align: center;
    }

    .promo__subtitle {
        margin: 22px 0 0;
        max-width: 260px;
        text-align: center;
    }

    .promo__button {
        margin: 90px 0 75px;
    }
}

/* Max-width 320px */

@media screen and (max-width: 320px) {
    .promo {
        padding-top: 75px;
    }

    .promo__wrapper {
        margin: 0 10px;
    }

    .promo__image {
        width: 206px;
        height: 210px;
    }

    .promo__title {
        margin-top: 44px;
        width: 100%;
        font-size: 30px;
        letter-spacing: -1.2px;
    }

    .promo__subtitle {
        margin: 24px 0 0;
    }

    .promo__button {
        margin: 80px 0 30px;
    }
}


