.page {
  width: 100%;
  min-height: 100vh;
  font-family: 'Inter', 'Arial', sans-serif;
  color: #000;
  position: relative;
}

.test {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}