.navigation {
    max-width: 280px;
    padding-left: 66px;
}

.header__nav-list {
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.header__nav-item {
    margin-right: 16px;
}

.header__nav-item:last-of-type {
    margin-right: 0;
}

.header__nav-link:hover {
    opacity: .7;
}

.header__nav-link {
    color: #000;
    text-decoration: none;
    font-size: 13px;
    line-height: 1.38;
}

